.img-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

@media (max-width: 900px) {
  .img-display {
    grid-template-columns: repeat(2, 1fr);
  }
  .relative-cont {
    width: 80%;
  }
}

.img-display-img {
  height: 550px;
  transition: opacity 400ms;
}

.img-display-img:hover {
  opacity: 0.8;
}

.img-display img{
  width: 100%;
  height: 100%;
}

.img-cont {
  position: relative;
  width: 100%;
}

.img-cont .description-info {
  position: absolute;
  color: #fff;
  bottom: 0px;
  right: 15px;
  text-align: right;
  font-family: "Smooch Sans";
  font-size: 1.2em;
  }

.description-info p, .description-info h2 {
    user-select: none;
  }

  /* modal */ 

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.modal-content-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inner-modal-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  aspect-ratio: 16/9;
  padding-bottom: 0;
}

.relative-cont {
  position: relative;
  height: 100%;
}

.modal span {
  color: gray;
  cursor: pointer;
  justify-content: flex-end;
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 2em;
  transition: color 400ms;
}

.modal .description-info {
  position: absolute;
  color: g;
  bottom: 0px;
  right: 15px;
  text-align: right;
  font-family: "Smooch Sans";
  font-size: 1.2em;

}

.modal span:hover {
  color: black;
}

.inner-modal-cont img {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  max-height: 90vh;
}
