nav {
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  justify-content: space-between;
  padding-right: 15%;
  z-index: 3;
}
.nav-title {
  min-width: 265px;
}
.nav-title h1 {
  font-family: "Cinzel", serif;
  color: #242424;
  font-size: 2rem;
  padding-left: 20px;
  user-select: none;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 878px) {
  .nav-bar {
    width: 100vw;
    justify-content: center;
  }
  .nav-title {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .nav-title h1 {
    padding: 0;
  }
  .nav-items ul{
    padding: 0;
  }
}

/* .nav-bar img {
  width: 100px;
} */

.nav-bar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  list-style-type: none;
  color: #242424;
  font-family: "Smooch Sans";
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-bar li {
  text-wrap: nowrap;
}

.nav-items li a {
  color: #242424;
  border-radius: 10px;
  transition: font-weight 400ms;
  height: 100%;
}

.nav-items li a:hover {
  font-weight: 900;
  
}